body{
    background: gray;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
canvas{
    background-color: black;
    border: #ccc 1px solid;
}

.container{
    margin: 30px auto 0 auto;
    width: 300px;
    overflow: auto;
    position: relative;
}

#stats{
    width: 290px;
    background-color: #333;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
    overflow: auto;
}

.score{
    width: 25%;
    height: 50px;
    padding-top: 20px;
    float:left ;
    margin-right: 5px;
    overflow: auto;
    background-color: #000;
    text-align: center;
    font-size: 15px;

}

#clear{
    padding: 10px;
    float: right;
}

#overlay{
    display: none;
    color: #fff;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 130px;
    left:50px;
}

#overlay a{
    display: block;
    margin-top: 10px;
    padding: 10px;
    background: grey;
}

#overlay a:hover{
    background-color: #333;
}